<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Social GTV Upgrade Features</title>

<style type="text/css">
button, code, h1, h2, h3, h4, h5, h6, input, pre, select, table, td, textarea, th { font-size: 1em; }
blockquote, body, br, button, dl, dd, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr,
html, label, legend, li, p, pre, table, td, th, ul { margin: 0; padding: 0; }
h1 {font-size: 25px;}
h2 {font-size: 18px;}
h3 {font-size: 18px; margin:20px 0 0 0; }
a { color: #fff; }
p { margin: 10px 0 0 0; }
body
{
margin:0;
font-family: verdana, arial, helvetica,sans-serif;
font-size:16px;
color:#fff;
background-color:#000;
}
</style>

</head>
<body>
<div>
<img alt="Social GTV" src="images/socialgtv.png" style="float:right;width:150px" />
<h1>Social GTV</h1>
<h2>Experience TV with the World</h2>
<h3>Help</h3>
<ol>
    <li>Surround multi-keyword searches with quotes. For example: "Chicago Bulls" or "New York Giants".</li>
    <li>Separate combined searches with commas. For example: #Broncos, #denverbroncos, #nfl.</li>
    <li>To control how often to query twitter, change the 'Refresh rate' slider.</li>
    <li>Block display of offensive words with the 'Block offensive words' check box.</li>
    <li>Toggle display of retweets with the 'Hide retweets' check box.</li>
    <li>Add currently trending search terms with the 'What's Trending?' button.</li>
    <li>Limit tweets to a certain language with the 'Set Language' button.</li>
</ol>
<h3>Keyboard shortcuts</h3>
<ol>
    <li>Press Ctrl-S to SAVE your current search terms.</li>
    <li>Press Ctrl-L to LOAD a saved search.</li>
    <li>Press Ctrl-D to DELETE a saved search.</li>
    <li>Press Ctrl-U to toggle whether the last tweet from/to a specified USERNAME will always appear.</li>
    <li>Press Ctrl-C to CLEAR the all text currently entered into the search term fields.</li>
</ol>
<p>Thank you very much for your support. To find out the latest on the Social GTV app or to give feedback, visit us on Google+</p>
<a href='http://gplus.to/SocialGTV'>http://gplus.to/SocialGTV</a>
</div>
</body>
</html>