<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Social GTV Upgrade Features</title>

<style type="text/css">
button, code, h1, h2, h3, h4, h5, h6, input, pre, select, table, td, textarea, th { font-size: 1em; }
blockquote, body, br, button, dl, dd, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr,
html, label, legend, li, p, pre, table, td, th, ul { margin: 0; padding: 0; }
h1 {font-size: 25px;}
h2 {font-size: 18px;}
h3 {font-size: 18px; margin:20px 0 0 0; }
a { color: #fff; }
p { margin: 10px 0 0 0; }
body
{
margin:0;
font-family: verdana, arial, helvetica,sans-serif;
font-size:16px;
color:#fff;
background-color:#000;
}
</style>

</head>
<body>
<div>
<img alt="Social GTV" src="/assets/socialgtv.png" style="float:right;width:150px" />
<h1>Social GTV</h1>
<h2>Experience TV with the World</h2>
<h3>Help</h3>
<ol>
    <li>The free version of Social GTV is limited to showing currently trending items on twitter.</li>
    <li>To view what is currently trending and drive tweets based on current trends, click the 'Change' button.</li>
    <li>Click the 'Home' button and then click the 'Show tweets' button to start showing tweets.</li>
    <li>Press the 'Live TV' button to display tweets over live tv.</li>
    <li>While tweets are displaying over live tv, toggle them on/off with Ctrl-T.</li>
</ol>
<h3>Upgrade features</h3>
<p>To learn more about what is possible when upgrading, please click 'Back' and then click the 'Upgrade details' button.</p>
<p>
    Thank you very much for your support. To find out the latest on the Social GTV app or to give feedback, visit us on Google+<br />
    <a href='http://gplus.to/SocialGTV'>http://gplus.to/SocialGTV</a>
</p>
</div>
</body>
</html>