
<!DOCTYPE html>
<html>
<div>
	 <%for latestTime in @result["trends"].keys.first %>
	<% @results["trends"][latestTime].each do |arrItem|%>
 <tr>
    <td><%=  arrItem["name"] %></td>

  </tr>
	<%end%>
	<%end%>
</div>	

</html>